
*.ini
*.bak
output_files/MG_PINF7.xlsx
*.pyc
src/Experimento_MG.xlsx
src/old/Experimento_MG.xlsx
src/experimento2.csv
src/experimento.csv
output_files/ExperimentPrueba.csv
output_files/experiment1.csv
output_files/Experiment0.csv
output_files/experiment1.csv
output_files/experiment1.csv
src/temp.html
